.slide-title {
    font-size: 100px;
}
.slide-description {
    font-size: 50px;
}
.slide {
    text-shadow: 0 0 10px black;
}
.event-card {
    max-width: 600px;
}
.event-card:hover {
    box-shadow: 0 0 20px grey;
}
@font-face {
    font-family: "Curly";
    src: url('../static/MonsieurLaDoulaise-Regular.ttf') format("truetype");
}
.navbar-brand {
    font-family: Curly;
    font-size: 30px;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: black;
}
.content-footer {
    background-color: #666;
    color: #ddd !important;
    font-size: medium;
    text-align: center;
    padding: 10px;
    margin: 0;
    bottom: 0px;

}
.content-footer a {
    color: #ddd;
}
.content-footer a:hover {
    color: #fff;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-footer{
    margin-top: auto;
}
.about {
    margin-top: 20px;
}